#content {
    min-height: calc(100vh - 404px);
    display: flex;
    flex-direction: column;
    padding: 0 10%;

    @media only screen and (max-width: 1366px) {
        padding: 0 36px;
    }
    @media only screen and (max-width: 768px) {
        padding: 0 24px;
    }
    @media only screen and (max-width: 520px) {
        padding: 0;
    }
}

#character-crud,
#origin-crud,
#tag-crud,
#character,
#origin {
    padding: 24px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}

.color {
    &-1 {
        color: var(--primary);
    }
    &-1-light {
        color: var(--primary-light);
    }
    &-1-dark {
        color: var(--primary-dark);
    }

    &-2 {
        color: var(--secondary);
    }
    &-2-light {
        color: var(--secondary-light);
    }
    &-2-lighter {
        color: var(--secondary-lighter);
    }
    &-2-dark {
        color: var(--secondary-dark);
    }
    &-2-darker {
        color: var(--secondary-darker);
    }

    &-3 {
        color: var(--tertiary);
    }
    &-3-dark {
        color: var(--tertiary-dark);
    }
    &-3-darker {
        color: var(--tertiary-darker);
    }

    &-4 {
        color: var(--quarternary);
    }
    &-4-light {
        color: var(--quarternary-light);
    }
}

.bg-color {
    &-1 {
        background-color: var(--primary);
    }
    &-1-light {
        background-color: var(--primary-light);
    }
    &-1-dark {
        background-color: var(--primary-dark);
    }

    &-2 {
        background-color: var(--secondary);
    }
    &-2-light {
        background-color: var(--secondary-light);
    }
    &-2-lighter {
        background-color: var(--secondary-lighter);
    }
    &-2-subtle {
        background-color: var(--secondary-subtle);
    }
    &-2-dark {
        background-color: var(--secondary-dark);
    }

    &-3 {
        background-color: var(--tertiary);
    }
    &-3-dark {
        background-color: var(--tertiary-dark);
    }
    &-3-darker {
        background-color: var(--tertiary-darker);
    }

    &-4 {
        background-color: var(--quarternary);
    }
    &-4-light {
        background-color: var(--quarternary-light);
    }
}

.main-title {
    letter-spacing: -6px;
    font-size: 6rem;
}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;

    &-fill {
        @extend .center-box;
        flex: 1;
    }

    &-col {
        @extend .center-box;
        flex-direction: column;
    }

    &-top {
        @extend .center-box;
        align-items: start;
    }
}

.shadow-box {
    overflow: hidden;
    padding: 48px 16px;
    box-shadow: 0 0 10px -4px var(--tertiary-darker);

    @media only screen and (min-width: 520px) {
        border-radius: 8px;
    }

    &-title {
        margin-bottom: 16px;
        letter-spacing: -0.5px;
        font-variant: small-caps;
        font-weight: bold;
        line-height: 0.9;
    }
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
}

.res-image {
    display: none;
    user-select: none;
    &.tall,
    &.wide {
        display: block;
    }
}

.emoticon-container {
    height: 1.75rem;
    width: 1.75rem;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;

    .emoticon {
        img {
            width: 100%;
            vertical-align: middle;
            transition: all 0.5s ease;
            user-select: none;
        }

        &:hover img,
        &:active img {
            cursor: zoom-in;
            transform: scale(5);
            margin-top: -100px;
            transition-duration: 0.75s;
        }
    }
}

.responsive-align {
    align-items: center;
    @media only screen and (min-width: 768px) {
        align-items: start;
    }
}

.tooltip-top,
.tooltip-right,
.tooltip-bottom,
.tooltip-left {
    position: relative;
    cursor: help;

    &:hover,
    .tooltip-text:hover {
        > .tooltip-text {
            visibility: visible;
            opacity: 1;
        }
    }

    .tooltip-text {
        visibility: hidden;
        opacity: 0;
        text-align: center;

        width: 100px;
        padding: 8px;
        border-radius: 4px;
        background-color: var(--quarternary);
        border-color: transparent;
        color: var(--tertiary-lighter);

        position: absolute;
        z-index: 999;
        transition: opacity 1s;

        @media only screen and (max-width: 900px) {
            width: 200px;
        }

        &::after {
            content: '';
            position: absolute;
            margin-left: -8px;
            border-width: 8px;
            border-style: solid;
            border-color: inherit;
        }
    }
}

.tooltip-top > .tooltip-text {
    bottom: calc(100% + 16px);
    left: 50%;
    transform: translateX(-50%);

    &::after {
        left: 50%;
        top: 100%;
        border-top-color: var(--quarternary);
    }
}
.tooltip-right > .tooltip-text {
    left: calc(100% + 16px);
    top: 50%;
    transform: translateY(-50%);

    &::after {
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        border-right-color: var(--quarternary);
    }
}
.tooltip-bottom > .tooltip-text {
    top: calc(100% + 16px);
    left: 50%;
    transform: translateX(-50%);

    &::after {
        left: 50%;
        bottom: 100%;
        border-bottom-color: var(--quarternary);
    }
}
.tooltip-left > .tooltip-text {
    right: calc(100% + 16px);
    top: 50%;
    transform: translateY(-50%);

    &::after {
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        border-left-color: var(--quarternary);
    }
}
