.btn {
    padding: 12px 0;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid transparent;
    color: var(--quarternary);
    background-color: transparent;

    transition: filter 0.1s ease-in-out;
    cursor: pointer;

    &:hover,
    &:active {
        filter: brightness(1.05);
    }
    &:active {
        transform: scale(0.95);
    }

    &.fill-1 {
        color: var(--tertiary-light);
        background-color: var(--primary);
        border-color: var(--primary-dark);
    }

    &.fill-2 {
        color: var(--tertiary-light);
        background-color: var(--secondary);
        border-color: var(--secondary-dark);
    }

    &.fill-3 {
        background-color: var(--tertiary);
        border-color: var(--quarternary-light);
    }

    &.fill-4 {
        color: var(--tertiary-light);
        background-color: var(--quarternary-light);
        border-color: var(--quarternary);
    }
}
