#character {
    flex-direction: column;
    gap: 16px;
    .background {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        background-size: 150px;
        background-position: -50px -35px;
        filter: blur(4px);
        //@media only screen and (max-width: 768px) {
        //    display: none;
        //}
    }

    > .shadow-box {
        padding: 36px 18px;
    }

    .character {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        box-sizing: border-box;

        @media only screen and (max-width: 768px) {
            min-width: 100%;
            font-size: 0.9rem;
        }

        .char-info-wrapper {
            display: flex;

            > img {
                height: 400px;
                padding: 0 16px;
            }

            @media only screen and (max-width: 768px) {
                flex-direction: column-reverse;
                align-items: center;
                > img {
                    height: 300px;
                    padding: 0;
                    margin-bottom: 16px;
                }
            }
        }

        #char-info {
            width: clamp(200px, 300px, 300px);
            padding: 0 16px;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: initial;

            @media only screen and (max-width: 768px) {
                align-items: center;
                text-align: center;
                padding: 0;
            }

            > #title {
                margin-bottom: 16px;
                letter-spacing: -0.5px;
                font-size: 1.75em;
                font-variant: small-caps;
                font-weight: bold;
                line-height: 0.9;
            }
            > #desc {
                font-size: 1.1em;
                @media only screen and (min-width: 768px) {
                    height: calc(400px - 50px - 50px);
                    overflow: auto;
                }
            }
            > img {
                width: max-content;
                margin-top: 16px;
                height: 3em;
                object-fit: contain;
                cursor: pointer;
                &:hover {
                    transform: scale(1.04);
                }

                &:active {
                    transform: scale(0.96);
                }
            }
        }

        #char-tags {
            display: flex;
            margin-left: 1px;
            flex-wrap: wrap;
            gap: 8px;
            margin-top: 16px;
            padding-top: 8px;
            border-top: 1px solid var(--tertiary-dark);

            @media only screen and (max-width: 768px) {
                justify-content: center;
                margin-left: 0;
            }

            .tag {
                cursor: pointer;
                border: 1px solid var(--secondary-dark);
                color: var(--tertiary-lighter);
                background-color: var(--secondary);
                padding: 8px 16px;
                border-radius: 20px;
                margin: 2px;
                display: inline-block;

                &:hover {
                    transform: scale(1.04);
                }

                &:active {
                    transform: scale(0.96);
                }
            }
        }
    }

    #related-characters {
        display: flex;
        width: 65%;
        height: 200px;
        flex-direction: column;
        box-sizing: border-box;
        &.shadow-box {
            padding: 8px 16px;
        }

        &-title {
            display: flex;
            font-size: 1.25em;
        }

        @media only screen and (max-width: 768px) {
            min-width: 100%;
            font-size: 0.9rem;
            height: 250px;
        }

        .related-character {
            position: relative;
            flex: 1;
            height: 100%;
            background-color: var(--tertiary-light);
            padding: 4px;
            border-radius: 4px;
            box-sizing: border-box;
            cursor: pointer;
            transition: background-color 0.25s ease-in-out;
            overflow: hidden;

            &:hover {
                background-color: var(--tertiary-lighter);

                .related-character-name {
                    background-color: var(--tertiary-lighter);
                    box-shadow: 0 -10px 6px -4px var(--tertiary-lighter);
                }
            }

            &:active {
                border: 1px solid var(--secondary);
                transform: scale(0.95);
            }

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;

                &.tall {
                    object-fit: scale-down;
                }

                &.wide {
                    object-fit: cover;
                }
            }

            &-name {
                width: calc(100% - 8px);
                position: absolute;
                bottom: 0;
                padding: 8px 4px;
                background-color: inherit;
                box-shadow: 0 -10px 6px -4px var(--tertiary-light);
                box-sizing: border-box;

                text-align: center;
                font-size: 0.8em;
                font-weight: 600;
                font-variant: all-petite-caps;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                transition-property: background-color, box-shadow;
                transition-duration: 0.25s;
                transition-timing-function: ease-in-out;
            }
        }
    }
}
