
.crud-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.crud-title > *:first-child {
    display: inline;
    margin-right: 4px;
}

.crud-title > * {
    vertical-align: middle;
}

.crud-form input, select, textarea {
    resize: vertical;
    margin-top: 12px;
    border-radius: 12px;
    padding: 16px 12px;
    border: 1px solid var(--tertiary-darker);
}

.crud-form ::placeholder, .crud-form select { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--quarternary);
    font-size: .9rem;
}

.crud-form select {
    appearance: none;
    background-image: var(--dropdown);
    background-repeat: no-repeat;
    background-size: 18px;
    background-color: var(--secondary-light);
    border: 1px solid var(--secondary);
    fill: red;
    background-position: calc(100% - 12px) 50%;
}

.crud-form ::placeholder {
    opacity: .75;
}

.crud-form textarea {
    border-bottom-right-radius: 0;
}

.crud-form button {
    margin-top: 24px;
    padding: 12px 0;
    border-radius: 50px;
    color: var(--tertiary);
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--secondary);
    border: 1px solid var(--secondary-dark);
}