.grid-crud-container {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 36px;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media only screen and (max-width: 768px) {
        > div:nth-child(2) {
            order: -1;
        }
    }

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        > div:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}

.crud-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (max-width: 768px), (min-width: 1366px) {
        width: 90%;
    }

    input,
    textarea {
        resize: vertical;
        margin-top: 8px;
        border-radius: 8px;
        padding: 16px 12px;
        border: 1px solid var(--tertiary-darker);

        &:hover:not(:focus) {
            border-color: var(--quarternary);
        }

        &:focus {
            border-color: var(--quarternary-light);
        }
    }

    ::placeholder {
        color: var(--quarternary);
        font-size: 0.9rem;
        opacity: 0.75;
    }

    textarea {
        border-bottom-right-radius: 0;
    }

    button {
        transition: filter 0.1s ease-in-out;
        cursor: pointer;
        &:hover,
        &:active {
            filter: brightness(1.05);
        }
        &:active {
            transform: scale(0.95);
        }
    }

    .custom-select-container {
        margin-top: 8px;
    }
}

.crud-title {
    > * {
        vertical-align: middle;
    }
    > :first-child {
        display: inline;
        margin-right: 8px;
    }
}

.crud-button-container {
    display: flex;
    margin-top: 24px;
    gap: 8px;

    .submit-button,
    .cancel-button {
        padding: 12px 0;
        border-radius: 50px;
        font-size: 1rem;
        font-weight: 500;
        border: 1px solid transparent;
    }

    .submit-button {
        color: var(--tertiary-light);
        background-color: var(--secondary);
        border-color: var(--secondary-dark);
        flex: 2;
    }

    .cancel-button {
        color: var(--quarternary-light);
        background-color: var(--tertiary);
        border-color: var(--quarternary-light);
        flex: 1;
    }
}

.crud-error-message {
    font-size: 0.75em;
    padding: 4px 8px;
    color: var(--quarternary-light);
}

.crud-error {
    border: 1px solid var(--error) !important;
    color: var(--error-dark) !important;
}
