.emoticon-container {
    height: 1.75rem;
    width: 1.75rem;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;

    .emoticon {
        img {
            width: 100%;
            vertical-align: middle;
            transition: all 0.5s ease;
            user-select: none;
        }

        &:hover img {
            cursor: zoom-in;
            transform: scale(5);
            margin-top: -100px;
            transition-duration: 0.75s;
        }
    }
}
