.emoticon-container {
    height: 1.75rem;
    width: 1.75rem;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}

.emoticon img {
    width: 100%;
    vertical-align: middle;
    transition: all 1s ease-in-out;
}

.emoticon:hover img {
    transform: scale(5);
    margin-top: -100px;
}