#emporium {
    padding: 24px 0;
}

.input {
    &-wrapper {
        width: 250px;
        height: 51px;
        position: relative;
    }

    &-icon {
        position: absolute;
        box-sizing: border-box;
        color: var(--secondary);
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    }

    &-control {
        padding: 12px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 8px;

        border: 1px solid var(--tertiary-darker);

        &.search {
            padding-left: 36px;
        }

        &:hover {
            border-color: var(--quarternary);
        }

        &:focus {
            border-color: var(--secondary-light);
        }

        ::placeholder {
            color: var(--quarternary);
            font-size: 0.9rem;
            opacity: 0.75;
        }
    }
}

.emporium {
    &-container.shadow-box {
        padding: 0;
        box-shadow: 0 0 6px var(--secondary-light);
    }

    &-content {
        display: flex;
        flex-direction: row;

        > :first-child {
            flex: 1;
        }
    }

    &-toolbar {
        padding: 8px 32px;
        border-bottom: 1px solid var(--secondary);
        display: flex;
        gap: 8px;

        .custom-select-container {
            width: 250px;
        }
    }

    &-sidebar {
        background-color: var(--secondary);
        overflow: auto;
        padding: 12px;
        color: var(--tertiary);

        > :first-child {
            margin-bottom: 12px;
        }

        > .input-wrapper {
            margin-bottom: 24px;
        }
    }

    &-grid {
        padding: 24px 32px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 240px);
        gap: 16px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            width: 240px;
            font-size: 1rem;
            justify-self: center;
        }
    }
}

@media only screen and (max-width: 768px) {
    .emporium {
        &-content {
            flex-direction: column-reverse;
        }
        &-toolbar {
            padding: 8px 12px;
            .custom-select-container,
            .input-wrapper {
                flex: 1;
            }
        }
        &-sidebar {
            .input-wrapper {
                width: 100%;
            }
        }
        &-grid {
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 160px);
            &-item {
                width: 160px;
                height: 200px;
                font-size: 0.9rem;
            }
        }
    }
}

.character-card {
    position: relative;
    padding: 16px 12px 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0 0 6px var(--secondary-light);
    background-color: var(--tertiary-light);
    height: 90%;
    width: 90%;
    line-height: 1;
    transition: background-color 0.25s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var(--tertiary-lighter);
        .character-card-image .blur {
            box-shadow: inset 0 -8px 10px 10px var(--tertiary-lighter);
        }

        .character-card-info {
            background-color: var(--tertiary-lighter);
            box-shadow: 0 -4px 6px var(--tertiary-lighter);
        }
    }

    &:active {
        border: 1px solid var(--secondary);
        height: 85%;
        width: 85%;
        font-size: 0.9rem;
    }

    &-image {
        position: relative;
        height: 100%;
        width: 100%;
        .blur {
            width: inherit;
            position: absolute;
            bottom: 0;
            top: 0;
            box-shadow: inset 0 -8px 10px 10px var(--tertiary-light);
            transition: box-shadow 0.25s ease-in-out;
        }
        img {
            height: inherit;
            width: inherit;
            margin-bottom: 8px;
            margin-left: auto;
            margin-right: auto;

            &.tall {
                object-fit: scale-down;
            }

            &.wide {
                object-fit: cover;
            }
        }
    }

    &-info {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 90%;
        height: 50px;
        align-items: center;
        background-color: inherit;
        box-shadow: 0 -4px 6px var(--tertiary-light);
        transition-property: background-color, box-shadow;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;

        .character-card-name {
            letter-spacing: -0.5px;
            display: block;
            font-weight: 500;
            font-variant: small-caps;
        }
        .character-card-origin {
            font-size: 0.75em;
            font-weight: 500;
            color: var(--secondary-darker);
        }
        > img {
            width: 50px;
            object-fit: scale-down;
            margin-left: auto;
        }
    }
}
