.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: var(--primary-dark);
    padding: 0 12px;

    .navbar-link {
        padding: 16px;
        margin: 0 4px 0 4px;
        color: var(--primary-light);
        transition: background-color 0.5s ease, color 0.5s ease;
        border-radius: 30px;

        > * {
            padding-right: 4px;
            padding-left: 4px;
            vertical-align: middle;
            text-align: center;
            display: inline;
        }

        &:hover {
            background-color: var(--primary);
            color: var(--primary-dark) !important;
        }

        &:active {
            opacity: 1 !important;
        }

        &.active {
            color: var(--quarternary);
            background-color: var(--primary);
            font-weight: 500;
        }
    }

    @media only screen and (min-width: 0) {
        .navbar-link {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 4px;
        }
    }

    @media only screen and (min-width: 768px) {
        .navbar-link {
            display: initial;
            gap: 0;
            width: initial;
        }
    }
}
