//#origin {}

.origin {
    &-container {
        display: flex;
        flex-direction: row;
        flex: 1;

        &.shadow-box {
            padding: 32px;
            @media only screen and (max-width: 900px) {
                padding: 16px;
            }
            @media only screen and (max-width: 600px) {
                padding: 0;
            }
        }

        @media only screen and (max-width: 900px) {
            flex-direction: column-reverse;
        }

        .character-card-grid {
            padding: 0;
            flex: 1;

            @media only screen and (max-width: 900px) {
                padding: 32px 24px;
            }

            @media only screen and (min-width: 901px) {
                margin-right: 32px;
            }

            .character-card {
                box-shadow: 0 0 10px -4px var(--tertiary-darker);
            }

            .character-card-info {
                justify-content: center;
                font-size: 1.25em;
            }
        }
    }

    &-info {
        width: 300px;
        box-sizing: border-box;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: 900px) {
            width: 100%;
        }

        @media only screen and (max-width: 600px) {
            border-bottom: 2px solid var(--secondary);
        }

        &.shadow-box {
            padding: 32px 16px;
        }

        > .input-wrapper {
            width: 100%;
            margin-top: 1em;

            > .input-control {
                border: 1px solid var(--secondary-dark);
                &:focus {
                    border-color: var(--secondary);
                }
            }
        }

        > img {
            width: clamp(250px, 100%, 300px);
            aspect-ratio: 1 / 1;
            object-fit: contain;
            box-sizing: border-box;
            box-shadow: 0 0 10px -4px var(--quarternary-light);
        }

        &-name {
            font-variant: small-caps;
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.25em;
        }

        &-size {
            display: block;
            text-align: center;
        }
    }
}
