@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*.custom-select-container:hover {*/
/*    border: 1px solid var(--quarternary);*/
/*    cursor: pointer;*/
/*}*/

/*.custom-select-container:active {*/
/*    border: 1px solid var(--secondary-dark);*/
/*}*/

.select-color {
    &-1 {
        .custom-select__control {
            background-color: var(--primary);
            border-color: var(--primary-dark);
        }

        .custom-select__option:hover {
            background-color: var(--primary-light);
        }
    }
    &-alt {
        .custom-select__control {
            background-color: var(--secondary-lighter);
            border-color: var(--secondary);
        }
    }
}

.custom-select {
    &__control {
        resize: vertical;
        border-radius: 8px;
        padding: 6px 12px;
        border: 1px solid var(--secondary-dark);
        color: var(--quarternary);
        background-color: var(--secondary-light);
        font-size: 0.9rem;
        position: relative;

        &:hover {
            border: 1px solid var(--quarternary);
            cursor: pointer;
        }
    }

    &__placeholder {
        color: var(--quarternary);
        font-size: 0.8rem;
        opacity: 0.75;
    }

    &__input-container {
        padding: 10px 0;
    }

    &__indicators {
        border: 0 solid transparent;
    }

    &__clear-indicator {
        margin-right: 4px;
        color: var(--secondary-darker);
    }

    &__multi-value {
        border: 1px solid var(--secondary-dark);
        padding: 0 8px;
        border-radius: 20px;
        background-color: var(--secondary);
        margin: 2px;

        &__label {
            color: white;
            padding: 8px 0;
        }
        &__remove {
            color: white;
        }
    }

    &__menu {
        margin-top: 2px;
        background-color: var(--tertiary);
        box-shadow: 0 2px 4px var(--tertiary-darker);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-radius: 8px;
        animation: fadeIn 0.25s ease-in-out;
    }

    &__option {
        padding: 12px 12px;
        transition: background-color 0.1s ease, color 0.1s ease;
        border-bottom: 1px solid var(--tertiary-dark);

        &:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        &:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-bottom: 0;
        }
        &:hover {
            background-color: var(--secondary-lighter);
        }
    }
}

.select-error .custom-select__control {
    color: var(--error-dark);
    border: 1px solid var(--error);
}
