.table-container {
    box-shadow: 0 0 6px var(--secondary);
    border-radius: 16px;
    width: 100%;

    @media only screen and (min-width: 1501px) {
        width: 90%;
    }
}

.jpl-table {
    width: 100%;

    tr:not(:last-child) td {
        border-bottom: 1px solid var(--secondary-light);
    }

    tr:hover {
        > td {
            background-color: var(--secondary-subtle);
            &:not(#actions) {
                cursor: pointer;
            }
        }
    }

    th,
    td {
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 12px;
        background-color: var(--secondary-lighter);
        transition: background-color 0.1s ease, color 0.1s ease;
    }

    thead th,
    tbody:first-child {
        background-color: var(--secondary-light) !important;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.95rem;
    }

    > caption {
        border-radius: 16px 16px 0 0;
        padding: 16px 12px 12px 12px;
        background-color: var(--secondary) !important;
        font-weight: 500;
        font-size: 1.25rem;
        color: var(--tertiary);
    }

    /* styles for specific columns */
    #id,
    #actions,
    #not-found {
        text-align: center;
    }

    #name > span {
        color: var(--secondary-darker);
    }

    #desc > span {
        color: var(--quarternary);
        opacity: 0.75;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* special padding and border radius at top and bottom */

    tbody > tr:last-child {
        td {
            padding-bottom: 16px;
        }
        td:first-child {
            border-radius: 0 0 0 16px;
        }

        td:last-child {
            border-radius: 0 0 16px 0;
        }
    }

    /* image styles */
    .table-image {
        height: 50px;
        width: 50px;
        margin: -6px auto -6px auto;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            user-select: none;
            object-fit: scale-down;
        }

        &.table-avatar {
            border-radius: 50%;
            img {
                object-fit: cover;

                &.tall {
                    object-position: 50% 0;
                }

                &.wide {
                    object-position: 50% 17px;
                    scale: 12;
                }
            }
        }
    }

    /* action */
    .table-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        &__item {
            color: var(--secondary-darker);

            &:hover {
                filter: brightness(1.25);
                cursor: pointer;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}
