.table-container {
    box-shadow:0 0 6px var(--secondary);
    border-radius: 16px;
    min-width: 90%;
}

.jpl-table {
    width: 100%;
}

.jpl-table tr th, .jpl-table tr td {
    padding: 12px;
    background-color: var(--secondary-lighter);
}

.jpl-table tr:not(:last-child) td {
    border-bottom: 1px solid var(--secondary-light);
}

.jpl-table th, .jpl-table td {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jpl-table thead th, tbody:first-child {
    background-color: var(--secondary-light) !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .95rem;
}

.jpl-table > caption {
    border-radius: 16px 16px 0 0;
    padding: 16px 12px 12px 12px ;
    background-color: var(--secondary) !important;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--tertiary);
}

/* styles for specific columns */
.jpl-table #id  {
    text-align: center;
}
/* . */

/* special padding and border radius at top and bottom */
.jpl-table tbody > tr:last-child td {
    padding-bottom: 16px;
}

.jpl-table tbody > tr:last-child > td:first-child {
    border-radius: 0 0 0 16px;
}

.jpl-table tbody > tr:last-child > td:last-child {
    border-radius: 0 0 16px 0;
}
/* . */

.table-image {
    height: 50px;
    width: 50px;
    margin: -6px auto -6px auto;
    overflow: hidden;
    border-radius: 50%;
}

.table-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 17px;
    scale: 12;
}

