#content {
    min-height: calc(100vh - 400px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#character-crud, #origin-crud, #tag-crud {
    width: 100%;
    height: 100%;
    padding: 24px 36px 0 ;
}

.color-1 { color: var(--primary) }
.color-1-light { color: var(--primary-light) }
.color-1-dark { color: var(--primary-dark) }

.color-2 { color: var(--secondary) }
.color-2-light { color: var(--secondary-light) }
.color-2-lighter { color: var(--secondary-lighter) }
.color-2-dark { color: var(--secondary-dark) }

.color-3 { color: var(--tertiary) }
.color-3-dark { color: var(--tertiary-dark) }
.color-3-darker { color: var(--tertiary-darker) }

.color-4 { color: var(--quarternary) }
.color-4-light { color: var(--quarternary-light) }

h1, h2, h3, h4, h5, h6 { font-weight: 500 }
h1 { font-size: 3.00rem }
h2 { font-size: 2.00rem }
h3 { font-size: 1.50rem }
h4 { font-size: 1.25rem }
h5 { font-size: 1.00rem }
h6 { font-size: 0.85rem }

small { font-size: 0.85rem; font-weight: 400; }

q { quotes: "“" "”" "‘" "’" }
q::before { content: open-quote }
q::after { content: close-quote }

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
}

.grid-crud-container {
    display: grid;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 0) {
    .grid-crud-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-auto-flow: row;
        gap: 35px;
    }

    .grid-crud-container > div:first-child {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .responsive-align {
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    .grid-crud-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-flow: row;
        gap: 10px;
    }

    .grid-crud-container > div:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .responsive-align {
        align-items: start;
    }

}






















