.center-box {
    flex: 1;
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--primary);
}

.center-box * {
    margin-top: 12px;
    margin-bottom: 12px;
}

.secondary {
    color: var(--secondary);
    font-size: 48px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: var(--tertiary);
}

.navbar > *:hover {
    background-color: var(--tertiary-light);
    color: var(--secondary) !important;
}

.navbar > *:active {
    opacity: 1 !important;
}

.navbar > a {
    padding: 16px;
    margin: 0 4px 0 4px;
    color: var(--secondary);
    transition: background-color 0.5s ease;
    border-radius: 30px;
}

.navbar > a > * {
    padding-right: 4px;
    padding-left: 4px;
    vertical-align: middle;
}

.navbar a.active * {
    color: var(--primary-light);
    font-weight: 500;
}




.my-table th {
    vertical-align: middle;
}

.my-table th:first-child {
    text-align: center;
}

.table-image {
    max-height: 100px;
    max-width: 100px;
    overflow: hidden;
}

.table-image img {
    height: 100%;
    width: 100%;
    object-fit: none;
    color: red;
    object-position: 50% -180px;
}

tr th {
    padding: 12px;
    background-color: var(--secondary-50);
}

tr:nth-child(even) th {
    background-color: var(--secondary-75);
}

thead th {
    background-color: var(--secondary) !important;
    font-weight: bold;
    padding: 12px !important;
}

thead th, tbody tr:last-child th {
    border-bottom: black solid 2px;
}