:root {
    --primary: #A7B570;
    --primary-light: #d4e0a6;
    --primary-dark: #616931;
    --primary-darker: #4f602e;

    --secondary: #B76A9E;
    --secondary-light: #e39ecb;
    --secondary-lighter: #f1b9e4;
    --secondary-subtle: #eecce5;
    --secondary-dark: #8d3e8d;
    --secondary-darker: #7c3373;

    --tertiary-lighter: #fcfafa;
    --tertiary-light: #f5ebeb;
    --tertiary: #F1EBE4;
    --tertiary-dark: #ded5cc;
    --tertiary-darker: #aba092;

    --quarternary: #2D2828;
    --quarternary-light: #5B4A3E;

    --error: #d32f2f;
    --error-dark: #b61919
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li, select, option,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, ::placeholder {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: Ubuntu, cursive;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: var(--quarternary);
    background: var(--tertiary-dark);
}
ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}

input {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.85rem;
}

small {
    font-size: 0.85rem;
    font-weight: 400;
}

q {
    quotes: '“' '”' '‘' '’';
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

blockquote{
    quotes: "" "";
}

blockquote:before, blockquote:after{
    content: "";
}
